"vendor/" 
"node_modules/" 
".env" 
".env.*" 
"*.log" 
".DS_Store" 
"Thumbs.db" 
"*/storage/framework/sessions/*" 
"*/storage/framework/views/*" 
"*/storage/logs/*" 
"*.hprof" 
"*.lock" 
"BackEnd/public/pdf-temp/" 
